.org-chart-person-email a {
  color: #fff !important;
}
#org-chart-container {
  position: relative;
  height: 760px;
  width: 723px;
  margin: 0 auto;
  background: #fff url("../images/org-chart-container-bg.gif") 0 0 no-repeat;
}

#org-chart-container.debug {
  background-image: url("../images/org-chart-container-marks-bg.gif");
}

.base {
  position: absolute;
  width: 185px;
  height: 77px;
  padding: 8px;
  background: transparent url("../images/org-chart-blocks-bg.png") 0 0 no-repeat;
  color: #555658;
  font-family: "Fedra Sans Std", Arial, Helvetica, sans-serif;
  font-size: 25px !important;
  font-weight: 500;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.base p {
  font-size: 25px !important;
  line-height: 1.5;
}

.base.unidad {
  width: 155px;
  height: 63px;
  background-position: -201px 0;
}
.base.unidad p {
  font-size: 12px !important;
  line-height: 1.5;
}
.base.direccion {
  width: 130px;
  height: 51px;
  font-size: 12px !important;
  background-position: -372px 0;
}
.base.direccion p {
  font-size: 10px !important;
  line-height: 1.5;
}
.base.direccion.unidad {
  width: 108px;
  height: 59px;
  font-size: 10px !important;
  background-position: -925px 0;
}
.base.direccion.unidad p {
  font-size: 9px !important;
  line-height: 1.5;
}
.base.direccion.coordinacion {
  width: 99px;
  height: 41px;
  font-size: 9px !important;
  background-position: -642px 0;
}
.base.direccion.coordinacion p {
  font-size: 8px !important;
  line-height: 1.5;
}

.base:hover p {
  color: #ffc627;
}
.base:hover,
.base.unidad:hover {
  color: #ffc627;
}
.base:active,
.base.active,
.base.unidad:active,
.base.unidad.active,
.base.direccion:active,
.base.direccion.active,
.base.direccion.unidad:active,
.base.direccion.unidad.active,
.base.direccion.coordinacion:active,
.base.direccion.coordinacion.active {
  color: #007833;
}

.base.active {
  background-position: 0 -93px;
}
.base.unidad.active {
  background-position: -201px -79px;
}
.base.direccion.active {
  background-position: -372px -67px;
}
.base.direccion.unidad.active {
  background-position: -925px -75px;
}
.base.direccion.coordinacion.active {
  background-position: -642px -57px;
}

.base p.title {
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  margin: 8px 0 0 0;
}

.base.direccion p.title {
  margin-top: 5px;
}

.base.direccion.unidad p.title {
  margin-top: 4px;
}

.base.direccion.coordinacion p.title {
  margin-top: 3px;
}

.org-chart-info,
.ucab-green .org-chart-info {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 140px;
  height: 62px;
  padding: 8px 16px;
  font-family: "Fedra Sans Std Book", Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  font-weight: 500;
  font-variant: small-caps;
  text-align: center;
  border-radius: 18px;
  box-shadow: 0 1px 16px 20px rgba(255, 255, 255, 0.45);
  background: #047832;
  background-color: #047832;
  border: 2px solid #fff;
  z-index: 100;
}

.ucab-blue .org-chart-info {
  background-color: #3cb5e5;
}

.ucab-yellow .org-chart-info {
  background-color: #fec628;
}

.org-chart-info.with-padding {
  padding: 8px 16px 8px 28px;
}

.org-chart-info div {
  display: table-cell;
  vertical-align: middle;
}

.org-chart-info span {
  display: block;
}

.org-chart-info span.org-chart-person-name {
  font-family: "Fedra Sans Std Book", Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 1.2;
  color: #fff;
}
.org-chart-info span.org-chart-person-email a {
  font-family: "Fedra Sans Std Book", Arial, Helvetica, sans-serif;
  font-variant: normal;
  font-size: 11px !important;
  font-weight: 300;
  color: #fff;
}
.org-chart-info span.org-chart-person-phone {
  font-size: 12px !important;
  color: #fff;
}

.ucab-yellow .org-chart-info span.org-chart-person-name,
.ucab-yellow .org-chart-info span.org-chart-person-email a,
.ucab-yellow .org-chart-info span.org-chart-person-phone {
  color: #000;
}

.org-chart-info:before {
  position: absolute;
  top: -60px;
  left: -20px;
  content: url("../images/arrow-curve.png");
}

.org-chart-info.bottom-right:before {
  top: -10px;
  right: 0;
  left: -254px;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.org-chart-info.bottom-left:before {
  top: -10px;
  left: 0;
  right: -254px;
}

.org-chart-info.top-right:before {
  top: 24px;
  left: -248px;
  right: 0;

  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
  filter: FlipH FlipV;
  -ms-filter: "FlipH FlipV";
}

.org-chart-info.top-left:before {
  top: 24px;
  left: 0;
  right: -248px;

  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

#org-chart-secretaria {
  top: 0;
  left: 278px;
}
#org-chart-unid-esta-inst {
  top: 111px;
  left: 443px;
}
#org-chart-unid-iden-inst {
  top: 160px;
  left: 143px;
}
#org-chart-cent-cont-ucab {
  top: 208px;
  left: 443px;
}
#org-chart-unid-admi-doce {
  top: 259px;
  left: 143px;
}
#org-chart-comi-disc {
  top: 306px;
  left: 443px;
}
#org-chart-dire-gest-estu {
  top: 419px;
  left: 0;
}
#org-chart-dire-admi-acad {
  top: 419px;
  left: 204px;
}
#org-chart-dire-arch-gene {
  top: 419px;
  left: 409px;
}
#org-chart-direc-secre-guay {
  top: 419px;
  left: 614px;
}
#org-chart-unid-aten-publ {
  top: 507px;
  left: 85px;
}
#org-chart-unid-sopo-siste-admi-acad {
  top: 507px;
  left: 289px;
}
#org-chart-unid-sopo-sist-gest-docu {
  top: 507px;
  left: 494px;
}
#org-chart-coor-ingr {
  top: 666px;
  left: 0;
}
#org-chart-coor-regi-cont {
  top: 666px;
  left: 129px;
}
#org-chart-coor-egre {
  top: 666px;
  left: 258px;
}
#org-chart-coor-prog-gest-aula {
  top: 666px;
  left: 387px;
}
#org-chart-coor-catal-capp {
  top: 666px;
  left: 516px;
}
#org-chart-coor-gest-docu {
  top: 666px;
  left: 645px;
}

#org-chart-unid-sopo-siste-admi-acad p.title {
  margin-top: 5px;
}
#org-chart-unid-sopo-sist-gest-docu p.title {
  margin-top: 5px;
}
